/* BUTTON STRUCTURE */
.button-primary,
.button-secondary {
    padding: var(--space-xxs) var(--space-xs);
    border: var(--border-primary);
    border-radius: var(--radius);
    text-decoration: none;
    font-size: var(--text-md);
    text-wrap: nowrap;
    position: relative;
}

.button-primary {
    background: var(--accent-gradient);
    color: hsl(var(--accent-foreground));
}
.button-secondary {
    background: var(--accent-gradient);
    color: transparent;
    background-clip: text;
    border: 1pt solid transparent;
}

.button-primary::before,
.button-secondary::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1pt solid transparent;
    background-clip: padding-box, border-box;
    background-image: linear-gradient(hsl(var(--primary)), white), var(--accent-gradient);
    border-radius: var(--radius);
    box-sizing: border-box;
}

.button-md {
    padding: var(--space-xxs) var(--space-xs);
    font-size: var(--text-md);
}

.button-lg {
    padding: var(--space-xs) var(--space-sm);
    font-size: var(--text-lg);
}
